<ion-grid class="ion-text-center">
  <ion-row class="first-row">
    <ion-col (click)="eApplication()">
      <fa-icon [icon]="faEdit" size="6x">
      </fa-icon>
      <ion-row></ion-row>
      <ion-label>
        eApplication
      </ion-label>
    </ion-col>
    <ion-col (click)="eParadeState()">
      <fa-icon [icon]="faWpForms" size="6x">
      </fa-icon>
      <ion-row></ion-row>
      <ion-label>
        eParadeState
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col (click)="eRation()">
      <fa-icon [icon]="faUtensils" size="6x">
      </fa-icon>
      <ion-row></ion-row>
      <ion-label>
        eRation
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>