<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>eRation</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item no-lines>
    <ion-label text-center color="primary" class="week-number">
      Indentation of Ration Week {{nextWeekNumber}}
    </ion-label>
  </ion-item>
  <div *ngIf="!rationExist">
    <ion-item *ngFor="let day of viewDaysArray; let i = index">
      <ion-label text-wrap>
        {{day}}
      </ion-label>
      <ion-select multiple="true" [(ngModel)]="rationArray[i]">
        <ion-select-option value="breakfast" selected>Breakfast</ion-select-option>
        <ion-select-option value="lunch" selected>Lunch</ion-select-option>
        <ion-select-option value="dinner" selected>Dinner</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div *ngIf="rationExist">
    <ion-label>
      You have already indented rations!
    </ion-label>
  </div>


</ion-content>

<ion-footer no-border>
  <div *ngIf="!rationExist">
    <ion-toolbar>
      <ion-button expand="block" fill="solid" class="submit" (click)="submit()">Submit Ration</ion-button>
    </ion-toolbar>
  </div>
</ion-footer>