<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>eApplication</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="approval" class="segment-button">
      <ion-label>
        <fa-icon [icon]="faUserFriends"></fa-icon>
        Approve
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="grant">
      <ion-label>
        <fa-icon [icon]="faEdit"></fa-icon>
        Grant
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-commander-approval *ngIf="segment == 'approval' "></app-commander-approval>
  <app-commander-grant *ngIf="segment == 'grant' "></app-commander-grant>
</ion-content>