<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>eApplication</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="segment" color="primary">
    <ion-segment-button value="approval" class="segment-button">
      <ion-label>
        <fa-icon [icon]="faUserFriends"></fa-icon>
        Approve
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="apply">
      <ion-label>
        <fa-icon [icon]="faEdit"></fa-icon>
        Apply
      </ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-e-application *ngIf="segment == 'apply'"></app-e-application>
</ion-content>