<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>eApplication</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Number of Offs</ion-label>
    <div slot="end">2</div>
  </ion-item>
  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" min="2019" picker-format="DD MMM YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>End Date</ion-label>
    <ion-datetime display-format="DD/MM/YYYY" min="2019" picker-format="DD MMM YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Number of Days</ion-label>
    <ion-select value="0.5" [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
      <ion-select-option value="0.5">0.5</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="1.5">1.5</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Reason"></ion-input>
  </ion-item>
</ion-content>
<ion-footer no-border>
  <ion-toolbar>
    <ion-button expand="block" fill="solid" class="submit">Submit</ion-button>
  </ion-toolbar>
</ion-footer>