<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
      <ion-title>Register</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Rank</ion-label>
          <ion-select value="0.5" [interfaceOptions]="rankOptions">
            <!-- <ion-select-option value="0.5">0.5</ion-select-option> -->
            <!-- <ion-select-option value="1">1</ion-select-option> -->
            <!-- <ion-select-option value="1.5">1.5</ion-select-option> -->
            <!-- <ion-select-option value="2">2</ion-select-option> -->
            <ion-select-option *ngFor="let rank of rankAppointment" value="rank">{{rank}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Unit</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <ion-label position="stacked">Company</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Appointment</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Commander</ion-label>
        <ion-radio slot="start" value="biff" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Operator</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>


<ion-footer no-border>
  <ion-toolbar>
    <ion-button color="primary" large expand="full" (click)="login()">Submit</ion-button>
  </ion-toolbar>
</ion-footer>